.learnerform{
    margin-left: 500px;
    margin-top: 50px;
    font-size: 20px;
    cursor: pointer;
    width: 400px;
    background-color:chartreuse;
}

#header{
    text-align: center;
    color: crimson;
}

#first{
    margin-left: 30px;
    margin-bottom: 15px;
}

#second{
    margin-left: 40px;
}

#submit{
    margin-left: 80px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: black;
    color:white;
}

#submit:hover{
    opacity: 0.7;
}

#cls1{
    background-color: blueviolet;
}

#cls2{
    background-color: bisque;
}