.subjectpage{

    background-color:rgb(158, 234, 234);
}

.subjectform{
    margin-left: 40px;
    margin-top: 40px;
    font-size: 20px;
    cursor: pointer;
    width: 500px;
    background-color:cornflowerblue;
    /* border: 5px solid black; */
}

#header{
    text-align: center;
    color: crimson;
    font-weight: bold;
}

#first{
    margin-left: 30px;
    margin-bottom: 15px;
}

#second{
    margin-left: 40px;
}

#submit{

    border-radius: 5px;
    background-color:bisque;
    color:blueviolet;
    font-weight: bold;
}

#submit:hover{
    opacity: 0.7;
}

#cls1{
    background-color: blueviolet;
}

#cls2{
    background-color: bisque;
}


.Quizform{
    margin-bottom: 40px;
    margin-right: 40px;
}
  
  #textheader{
      text-align: center;
      color: aqua;
  }
  
  .nextbtn{
      margin-top: 40px;
      border: 3px solid black;
      color:black;
      margin-left: 40px;
      margin-bottom: 20px;
      background-color:blanchedalmond;
      width: 100px;
      text-align: center;
      font-weight: 600;
  
  }
  
  .form{
      border: 30px;
      margin-left: 30px;
      width: 600px;
      background-color:darkblue;
  }
  
  .questioncnt{
      font-size: 30px;
      color:chartreuse;
      margin-left: 30px;
  
  }
  
  .answersection{
      cursor: pointer;
  }
  
  .questiontxt{
      font-size: 20px;
      margin-top: 30px;
      margin-left: 60px;
      align-items: center;
      font-weight: 900;
      color:deeppink;
  }
  
  .answer-button{
      width: 400px;
      margin-top: 30px;
      height: 50px;
      border-radius: 5px;
      background-color:blueviolet;
      color: white;
  }
  
  .completed{
      font-size: 50px;
      color:mediumseagreen;
  }
  
  .score{
      font-size: 20px;
      margin-top: 40px;
      font-weight: 1000;
  }
  
  .playagain{
      margin-top: 40px;
      margin-left: 30px;
      width: 80px;
      text-align: center;
      background-color: darkblue;
      color: crimson;
  
  }