.subjectform{
    margin-left: 500px;
    margin-top: 50px;
    font-size: 20px;
    cursor: pointer;
    width: 500px;
    background-color:cornflowerblue;
    border: 5px solid black;
}

#header{
    text-align: center;
    color: crimson;
    font-weight: bold;
}

#first{
    margin-left: 30px;
    margin-bottom: 15px;
}

#second{
    margin-left: 40px;
}

#submit{

    border-radius: 5px;
    background-color:bisque;
    color:blueviolet;
    font-weight: bold;
}

#submit:hover{
    opacity: 0.7;
}

#cls1{
    background-color: blueviolet;
}

#cls2{
    background-color: bisque;
}